.naslov{
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
}
.naslov hr{
    width: 40%;
}
.velki{
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.male{
    text-align: center;

}
.male h1{
    margin-top: 1.2rem;
} 
.lajna{
    display: none;
}
@media only screen and (max-width:991px){
    .velki{
    margin-top: 3rem; 
    width: 100%;     
    }
    .male{
    margin-bottom: 3rem;  
    }
    .lajna{
        display: block;
    }
}
